<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/CSPublicationCrawler</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <mapping resource="uit/tkorg/cspublicationtool/database/hibernate/hibernate.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/database/hibernate/Author.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/database/hibernate/AuthorInstance.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/database/hibernate/Conference.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/database/hibernate/Journal.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/database/hibernate/Magazine.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/database/hibernate/Org.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/database/hibernate/Paper.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/database/hibernate/PaperType.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/database/hibernate/Publisher.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/database/hibernate/Author.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/database/hibernate/Paper.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/Magazine.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/Reviewer.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/Conference.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/PaperReviewer.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/PaperType.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/Author.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/ConferencePcmember.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/PaperPaper.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/Paper.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/Keyword.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/Publisher.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/Org.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/Pcmember.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/Comment.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/Subdomain.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/Domain.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/Journal.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/Authorinstance.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
