<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/cspublicationcrawler</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.transaction.auto_close_session">false</property>
    <property name="hibernate.transaction.flush_before_completion">true</property>
    <property name="hibernate.connection.pool_size">500</property>
    <property name="hibernate.jdbc.batch_size">50</property>
    <property name="hibernate.cache.use_second_level_cache">false</property> 
    <!--
    <property name="hibernate.c3p0.min_size">5</property>
    <property name="hibernate.c3p0.max_size">20</property>
    <property name="hibernate.c3p0.timeout">300</property>
    <property name="hibernate.c3p0.max_statements">50</property>
    <property name="hibernate.c3p0.idle_test_period">300</property>-->
    <property name="hibernate.current_session_context_class">org.hibernate.context.ThreadLocalSessionContext</property>
    <mapping resource="uit/tkorg/cspublicationtool/entities/RankOrgSubdomain.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/Magazine.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/Reviewer.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/Conference.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/RankConferenceKeyword.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/Author.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/RankPaper.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/ConferencePcmember.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/Paper.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/RankAuthorKeyword.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/Publisher.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/RankOrgKeyword.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/RankOrg.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/Org.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/Comment.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/Domain.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/Journal.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/PaperReviewer.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/PaperType.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/RankAuthorSubdomain.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/PaperPaper.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/RankPaperKeyword.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/Keyword.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/Pcmember.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/RankPaperSubdomain.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/Subdomain.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/Authorinstance.hbm.xml"/>
    <mapping resource="uit/tkorg/cspublicationtool/entities/RankAuthor.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
